* {
    margin: 0;
    padding: 0;
  }
 html{
    overflow-x: hidden;
 }
body,html{
    width: 1920px;
    height: 1080px;
    background-color: #0D84CF;

}

#h1{
    position: absolute;
    width: 1052px;
    height: 119px;
    left: 0px;
    top: 225px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    position: absolute;

}

.navbar {
    margin-left: 9vw;
    text-decoration: none;
    position: absolute;
    left: 40px;
    top: 53px;
    width: 85vw;
    height: 10vh;
    background-color: #0D84CF;
    color: black;
}
#text{
    color: black;
}
#text1{
    color: black;
}
#text2{
    color: black;
}
#text3{
    color: black;
}
#img{
    margin-left:  5vw;
    position: absolute;
    width: 600px;
    height: 300px;
    left: 0px;
    top: 368px;
    border-radius: 70px;
}

.p{position: absolute;
    width: 1081px;
    height: 831px;
    left: 818px;
    top: 341px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 53px;
    color: #000000;}
    #Home{
        color: black;
    }
    a{
        text-decoration: none;
    }
h3{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    margin-left: 90px;
    margin-top: 3vh;

}