* {
    margin: 0;
    padding: 0;
  }
 html{
    overflow-x: hidden;
 }
body,html{
    width: 1920px;
    height: 1080px;
    background: linear-gradient(-45deg, #ee1fc1, #b97432, #508da3, #380cfc);
    background-size: 4000% 4000%;
    animation-name: bg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bg {
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}

    }

    #h1{
        position: absolute;
        width: 1052px;
        height: 119px;
        left: 85px;
        top: 225px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 116px;
        position: absolute;
    }


.navbar {
    display:inline-block;
    margin-left: 9vw;
    text-decoration: none;
    position: absolute;
    left: 30px;
    top: 53px;
    width: 80vw;
    height: 10vh;
    background-color: #7f8f99;
    color: black;
    border-radius: 70px;
}
#text{
    color: rgb(0, 0, 0);
}
#text1{
    color: rgb(0, 0, 0);
}
#text2{
    color: rgb(0, 0, 0);
}
#text3{
    color: rgb(0, 0, 0);
}
#img{
    margin-left:  5vw;
    position: absolute;
    width: 600px;
    height: 300px;
    left: 30px;
    top: 368px;
    border-radius: 70px;
}

.p{position: absolute;
    width: 1081px;
    height: 831px;
    left: 818px;
    top: 341px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 53px;
    color:rgba(0, 0, 0, 0.651);}
    #Home{
        color: rgb(0, 0, 0);
    }
    a{
        text-decoration: none;
    }
h3{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    margin-left: 90px;
    margin-top: 4vh;

}
#img1{
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 20px;
    top: 50px;
    border-radius: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}