body {
    position: relative;

    background: #0D84CF;
     width: 1920px;
    height: 1080px;
    background: linear-gradient(-45deg, #ee1fc1, #b97432, #508da3, #380cfc);
    background-size: 4000% 4000%;
    animation-name: bg;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
@keyframes bg {
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}

    }
#img{
    position: absolute;
    width: 800px;
    height: 543px;
    left: 25px;
    top: 275px;
    border-radius: 70px;
}
.p{
    position: absolute;
    width: 807px;
    height: 792px;
    left: 860px;
    top: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
}
.navbar {
    margin-left: 9vw;
    text-decoration: none;
    position: absolute;
    left: 40px;
    top: 53px;
    width: 80vw;
    height: 10vh;
    background-color: #7f8f99;
    color: black;
    border-radius: 70px;
}
h3{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    margin-left: 90px;
    margin-top: 4vh;

}
#text{
    color: black;
}
#text1{
    color: black;
}
#text2{
    color: black;
}
#text3{
    color: black;
}
#Home{
    color: black;
}
a{
    text-decoration: none;
}
#img1{
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 20px;
    top: 50px;
    border-radius: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}