body{
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #0D84CF;
}
.p {
    position: absolute;
    width: 50%;
    right: 0;
    top: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
  }
  
  #img {
    position: absolute;
    width: 665px;
    height: 452px;
    left: 0;
    bottom: 0;
    border-radius: 70px;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  