body{
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #0D84CF;
}
.p {
    position: absolute;
    width: 50%;
    right: 0;
    top: 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
  }
  
  #img {
    position: absolute;
    width: 665px;
    height: 452px;
    left: 0;
    bottom: 0;
    border-radius: 70px;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbar {
    margin-left: 9vw;
    text-decoration: none;
    position: absolute;
    left: 40px;
    top: 53px;
    width: 85vw;
    height: 10vh;
    background-color: #0D84CF;
    color: black;
}
h3{
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  margin-left: 90px;
  margin-top: 3vh;

}
#text{
  color: black;
}
#text1{
  color: black;
}
#text2{
  color: black;
}
#text3{
  color: black;
}
#Home{
  color: black;
}
a{
  text-decoration: none;
}